In [3]:
dictionary = {}
print(type(dictionary))
dictionary

<class 'dict'>

{}

In [7]:
me = {"name":"Abhishek Jaglan", "age":25,"profession":"Software Engineer", "age":2}
print(me)
type(me)

{'name': 'Abhishek Jaglan', 'age': 2, 'profession': 'Software Engineer'}

dict

In [9]:
me = {"name":"Abhishek Jaglan", "age":25, "profession":"Software Engineer"}
me

{'name': 'Abhishek Jaglan', 'age': 25, 'profession': 'Software Engineer'}

In [10]:
me['name']

'Abhishek Jaglan'

In [15]:
print(me.get('age'))
print(me.get('grade', "NA"))

25
NA

In [17]:
me['profession']

'Software Engineer'

In [24]:
me['profession']='Ninja Warrior'
me['address']='Delhi'
me

{'name': 'Abhishek Jaglan',
 'age': 25,
 'profession': 'Ninja Warrior',
 'address': 'Delhi'}

In [25]:
del me['address']
me

{'name': 'Abhishek Jaglan', 'age': 25, 'profession': 'Ninja Warrior'}

In [31]:
allKeys = me.keys()
allValues = me.values()
print(allKeys)
print(allValues)
allItems = me.items()
allItems

dict_keys(['name', 'age', 'profession'])
dict_values(['Abhishek Jaglan', 25, 'Ninja Warrior'])

dict_items([('name', 'Abhishek Jaglan'), ('age', 25), ('profession', 'Ninja Warrior')])

In [34]:
for key in allKeys:
    print(key)

name
age
profession

In [30]:
iter(allItems)

In [35]:
me1 = me
print(me)
me1

{'name': 'Abhishek Jaglan', 'age': 25, 'profession': 'Ninja Warrior'}

{'name': 'Abhishek Jaglan', 'age': 25, 'profession': 'Ninja Warrior'}

In [36]:
me['age'] = 26  # This will change the value in both me and me1
print(me)
me1

{'name': 'Abhishek Jaglan', 'age': 26, 'profession': 'Ninja Warrior'}

{'name': 'Abhishek Jaglan', 'age': 26, 'profession': 'Ninja Warrior'}

In [37]:
me['age'] = 25
me1 = me.copy()
me['age'] = 26
print(me)
me1

{'name': 'Abhishek Jaglan', 'age': 26, 'profession': 'Ninja Warrior'}

{'name': 'Abhishek Jaglan', 'age': 25, 'profession': 'Ninja Warrior'}

In [38]:
dictSquare = {x:x**2 for x in range(5)}
dictSquare

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [40]:
dictSquareEven = {x:x**2 for x in range(10) if x%2==0}
dictSquareEven

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [41]:
numbers = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]

setNumbers = set(numbers)
dictNumbers = {x:numbers.count(x) for x in setNumbers}
dictNumbers

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [42]:
frequency = {}

for x in numbers:
    if x in frequency:
        frequency[x ] += 1
    else:
        frequency[x] = 1

frequency

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [43]:
dict1 ={"a":1, "b":2}
dict2 = {"b":3, "c":4}
print({**dict1, **dict2})

{'a': 1, 'b': 3, 'c': 4}