In [2]:
empty_tuple1 = ()
empty_tuple2 = tuple()
print(empty_tuple1)
print(type(empty_tuple1))
print(empty_tuple2)
print(type(empty_tuple2))

()
<class 'tuple'>
()
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [4]:
lst = list(numbers)
lst

[1, 2, 3, 4, 5]

In [9]:
mixed_tpl = (1, 2, 3, "Abhishek",True, 3.14)
mixed_tpl

(1, 2, 3, 'Abhishek', True, 3.14)

In [16]:
tpl = (lst, 1)
tpl

([1, 2, 3, 4, 5], 1)

In [20]:
print(numbers[0])
print(numbers[-2])
print(numbers[1:3])
print(numbers[:: -1])

1
4
(2, 3)
(5, 4, 3, 2, 1)

In [21]:
concatenated_tpl = numbers + mixed_tpl
concatenated_tpl

(1, 2, 3, 4, 5, 1, 2, 3, 'Abhishek', True, 3.14)

In [22]:
mixed_tpl*3

(1,
 2,
 3,
 'Abhishek',
 True,
 3.14,
 1,
 2,
 3,
 'Abhishek',
 True,
 3.14,
 1,
 2,
 3,
 'Abhishek',
 True,
 3.14)

In [27]:
mixed_tpl
mixed_tpl_lst = list(mixed_tpl)
mixed_tpl_lst

[1, 2, 3, 'Abhishek', True, 3.14]

In [28]:
mixed_tpl += (1,1,2)
mixed_tpl

(1, 2, 3, 'Abhishek', True, 3.14, 1, 1, 2)

In [30]:
print(mixed_tpl.count(1))
mixed_tpl.index(1)

4

0

In [31]:
packedTuple = 1, True, 'Abhishek'
packedTuple

(1, True, 'Abhishek')

In [32]:
a, b, c = packedTuple
print(a, b, c)

1 True Abhishek

In [33]:
first, second, *middle, last = numbers
print(first, second, middle, last)

1 2 [3, 4] 5